<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WHFoldTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FC4400B1E6D3119001A6CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC4401F1E6D3119001A6CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC4402A1E6D3119001A6CAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
